<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.thepalaceproject.deployment_testing">

  <application
    android:name="org.thepalaceproject.deploytest.app.BreakoutApplication"
    android:allowBackup="true"
    android:icon="@drawable/tomato128"
    android:contentDescription="Pudding Destroyer">

    <!-- Main entry point for the application. -->
    <activity
      android:name="org.thepalaceproject.deploytest.app.BreakoutActivity"
      android:contentDescription="Breakout"
      android:screenOrientation="portrait"
      android:exported="true"
      android:label="Tomato Destroyer">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>
